* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: grid;
    grid-template-areas:
    "h"
    "m";
    grid-template-rows: 25vh auto;
    grid-template-columns: 100%;
}

.header {
    grid-area: h;
    background: lightblue;
}

.main {
    grid-area: m;
    background: lightcoral;
}